@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align:center">
        <b>Welcome to our charging stations navigation application!!!</b>
    </h2>
    <h2 style="text-align:center">
        <br>
        <b>
            Dobredojdovte na nasata aplikacija za navigacija na stanici za polnenje
            na elektricni avtomobili!!!
        </b>
    </h2>
    <br>
    <br>
    <br>
    <p style="text-align:center">
        If you want to use our application in English you can choose tabular view from the manu bar!
        <br />

    </p>
    <br>
    <p style="text-align:center">
        Ako sakate da ja koristite nasata aplikacija na Makedonski odberete tabelaren prikaz vo menito!
    </p>
    <img src="https://emobility.evn.mk/Files/Elektromobilnost/Images/IMG_0329-(2).aspx?width=780&height=375&ext=.jpg" width="60%" id="imgCS" />
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
    </div>
</div>